.sideBar {
  position: sticky;
  top: 0;
  left: 0;
  overflow-y: auto;
  background-color: rgb(110, 106, 106);
  transition: all 300ms ease-in-out;
}

@media only screen and (max-width: 768px) {
  .sideBar {
    position: fixed;
    left: -300px;
    z-index: 100;
    min-width: 200px;
  }
  .sideBar.showSidebar {
    left: 0;
  }
}
